
<div class="post-list">
  <a class="post" href="<%= edit_channel_path(@channel) %>">
    <div class="header">
      <h3 class="time-border"><%= @channel.title %></h3>
      
    </div>
  </a>
</div>

<!--コメント欄-->
<div class="comment-form-container">
  <div class="comment">
    <!--model: @contentはinput actionがcommentになる。commentにデータが送られる。-->
    <!--createa_comment_pathの後の@channel変数はurlにchannelのidを付与するため？-->
    <%= form_with(url: create_comment_path(@channel), model: @comment, local: true, method: :post) do |f| %>
      <div class="form">
        <div class="textarea">
          <%= f.label "", class: 'form-label' %>
          <%= f.text_area :content, placeholder: "コメント", class: 'form-control' %>
        </div>
        <div class="button-group">
          <%= f.submit '送信', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
　
　　<div class="comment-list">
  <% @comments.each do |comment| %>

    <div class="comment">
      <div class="time-wrapper">
       <p class="time-border"><%= comment.created_at.strftime("%Y/%m/%d")%></p>
      </div>
        <div class="comment-detail">
          <div class="comment-user-image">
           <%= image_tag comment.user.image.url, width: "40×40" %>
          </div>
          <div class="comment-user-name">  
          <p class="username"><%= comment.user.name %></p>
          </div>
          <div class="comment-time">
               <p class="timestamp"><%= comment.created_at.strftime("%H:%M") %></p>
          </div>
         </div>
      <div class="body">
        <p class="content"><%= comment.content %></p>
      </div>
      <div>
           <i class="fa-brands fa-font-awesome"></i>
<i class="fa-solid fa-user-secret"></i>
<i class="fa-regular fa-bell"></i> 
<%= icon('fa-brands', 'font-awesome')%>
<%= icon('fa-solid', 'user-secret')%>
<%= icon('fa-regular', 'bell')%>
</div>
            <!--いいね!ボタン-->
        <% if current_user.already_favorited?(comment) %>
            <!--# 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
            <%= link_to comment_favorites_path(comment.id), method: :delete do %>
              <i class="fa-solid fa-heart"></i>
                <%= comment.favorites.count %> いいね
            <% end %>
            <% else %>
            <!--# 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
            <%= link_to comment_favorites_path(comment.id), method: :post do %>
                <i class="fa-regular fa-heart"></i>
                  <%= comment.favorites.count %> いいね

            <% end %>
        <% end %>

      <div class="comment-edit">

      <!-- 編集ボタン -->
      <button class="edit js-modal-button" data-target="#modal<%= comment.id %>">返信</button>
      
      <!-- モーダル -->
      <div id="modal<%= comment.id %>" class="layer js-modal">
        <div class="modal">
          <div class="modal__inner">
            <div class="modal__button-wrap">
              <button class="close-button js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="modal__contents">
              <div class="modal__content">
                
            <!--コメントしたユーザーとカレンとユーザーが同じ場合にはフォームを表示させる-->
                 <% if current_user == comment.user %>

                  <%= form_with(url: update_comment_path(comment.id), local: true, method: :patch, html: { class: 'post-form' }) do |f| %>

                    <div class="form-group">
                      <%= f.label "コメントを編集", class: 'form-label' %>
                      <%= f.text_area :content, value: comment.content, class: 'form-control' %>
                    </div>
                    <div class="button-group">
                      <%= link_to '削除', destroy_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
                      <%= f.submit '更新', class: 'btn btn-primary' %>
                    </div>

                  <% end %>
                  
                  <% end %>

                       <%= form_with(url: create_reply_path, model: @reply, local: true, method: :post) do |f| %>
                        <div class="form">
                          <div class="textarea">
                            <%= f.label "", class: 'form-label' %>
                            <%= f.hidden_field :comment_id, value: comment.id %>
                            <%= f.text_area :content, placeholder: "返信", class: 'form-control' %>
                          </div>
                          <div class="button-group">
                            <%= f.submit '送信', class: 'btn btn-primary' %>
                          </div>
                        </div>
                    <% end %>
                  

              </div>
             </div>
            </div>
          </div>
        </div>
        <!--モーダルここまで-->
      </div>
      
          <!--返信欄-->
           <div class="reply-list">
            <% comment.replies.each do |reply| %>
              <div class="replies">
                <div class="reply-detail">
                  <div class="reply-user-image">
                   <%= image_tag reply.user.image.url, width: "40×40" %>
                  </div>
                  <div class="reply-user-name">  
                  <p class="username"><%= reply.user.name %></p>
                  </div>
                  <div class="reply-time">
                   <p class="timestamp"><%= comment.created_at.strftime("%H:%M") %></p>
                  </div>
                 </div>
                <div class="body">
                 <p class="content"><%= reply.content %></p>
                </div>
               </div>         
             <% end %>
            </div>
    
    </div>
    
    

  

  <% end %>

 <%= link_to '一覧に戻る', index_channel_path %>

</div>