<div class="post-list">
  <a class="post" href="<%= edit_channel_path(@channel) %>">
    <div class="header">
      <h2 class="title"><%= @channel.title %></h2>
      <p class="timestamp"><%= @channel.created_at.strftime("%B %d, %Y") %></p>
    </div>
  </a>
</div>

<div class="comment-form-container">
  <div class="comment">
    <%= form_with(url: create_comment_path(@channel), model: @comment, local: true, method: :post) do |f| %>
      <div class="form">
        <div class="textarea">
          <%= f.label "コメント", class: 'form-label' %>
          <%= f.text_field :content, class: 'form-control' %>
        </div>
        <div class="button-group">
          <%= f.submit '送信', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="comment-list">
  <% @comments.each do |comment| %>
    <div class="comment">
      <div class="body">
        <p class="content"><%= comment.content %></p>
        <p class="timestamp"><%= comment.created_at.strftime("%B %d, %Y") %></p>
        <p class="username">投稿者 <%= comment.user.name %></p>
      </div>
      
      <!-- 編集ボタン -->
      <button class="button js-modal-button" data-target="#modal<%= comment.id %>">編集</button>
      <!-- モーダル -->
      <div id="modal<%= comment.id %>" class="layer js-modal">
        <div class="modal">
          <div class="modal__inner">
            <div class="modal__button-wrap">
              <button class="close-button js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="modal__contents">
              <div class="modal__content">
                  <%= form_with(url: update_comment_path(comment.id), local: true, method: :patch, html: { class: 'post-form' }) do |f| %>

                    <div class="form-group">
                      <%= f.label "コメントを編集", class: 'form-label' %>
                      <%= f.text_area :content, value: comment.content, class: 'form-control' %>
                    </div>
                    <div class="button-group">
                      <%= link_to '削除', destroy_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
                      <%= f.submit '更新', class: 'btn btn-primary' %>
                    </div>

                  <% end %>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
 <%= link_to '一覧に戻る', index_channel_path %>
 

</div>