                     <% @comments.each do |comment| %>
                        <div class="comment">
      <div class="body">
        <p class="content"><%= comment.content %></p>

      </div>
      <div class="comment-detail">
        <p class="timestamp"><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></p>
        <p class="username">投稿者 <%= comment.user.name %></p>
        
       <%= form_with(url: create_reply_path(@comment), model: @reply, local: true, method: :post) do |f| %>
      <div class="form">
        <div class="textarea">
          <%= f.hidden_field :comment_id, value: @comment.id %>
          <%= f.label "コメント", class: 'form-label' %>
          <%= f.text_field :content, class: 'form-control' %>
        </div>
        <div class="button-group">
          <%= f.submit '送信', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
      </div>

                   
        <% @replies.each do |reply| %>
      <div class="comment">
      <div class="body">
        <p class="content"><%= reply.content %></p>
      </div>
      <% end %>
      
 
    
                         <% end %>

<!-- コメントIDが2のコメントに対するリプライを表示 -->
<h3>コメントID 2 に対するリプライ:</h3>
<% @replies_to_comment_2.each do |reply| %>
  <p><%= reply.content %></p>
<% end %>