<div class="device-container">
  <div class="form-container">
    <h1>ユーザー情報</h1>
      <br />
          <% if @user.image? %>
          <%= image_tag @user.image.url %>
          
          <% else %>
            <%= image_tag ("sticker_louie_louie.png"), width: "50%" %>
          <% end %>

      <br />
      <br />

      <%= @user.name %>
      <br />
      <%= @user.email %>
      <br />
      <br />
      <h3>プロフィール</h3>
      <br />
      <%= @user.profile%>
      
   

      
  </div>
</div>