<h1>学習室</h1>
<p>Find me in app/views/studies/new.html.erb</p>

<%= Time.now %>

ストップウォッチを表示
    <div class="study-start">
      <%= link_to '学習開始', new_study_path, class: "btn btn-danger" %>
    </div>
    
    <div class="study-end">
      <%= link_to '学習終了', study_path(@study), method: :patch, class: "btn btn-danger" %>
    </div>

    <div class="study-break">
      <%= link_to '休憩', method: :post,  class: "btn btn-danger" %>
    </div>


今日の学習時間

総学習時間



         <% @studies.each do |study| %>
        <p><%= study.id %></p> 
        <P> 開始時刻 <%= study.start_time %> </P>
           <p>終了時刻<%= study.end_time %> </p> 

          
          <% end %>