<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--  アプリケーションのタイトル -->
    <title>Omusubi Classroom</title>
    <!-- ウェブページがモバイルデバイスやレスポンシブデザインをサポートするブラウザ上でどのように表示されるべきかを制御します。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- CSRF Token 後の章で説明します -->
    <%= csrf_meta_tags %>
    <!-- Railsの機能を使用してアプリケーションのセキュリティを向上させるための記述です -->
    <%= csp_meta_tag %>
    <!-- Style -->
    <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
    <!-- Javascript -->
    <script src="<%= mix('/js/bootstrap.js') %>"></script>
    <!-- turbo.jsを追加します -->
    <script src="<%= mix('/js/turbo.js') %>"></script>
  </head>

  <body>

    <!--　ここにコンテンツが挿入されます -->
    <%= yield %>
  </body>
</html>