<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--  アプリケーションのタイトル -->
    <title>Omusubi Classroom</title>
    <!-- ウェブページがモバイルデバイスやレスポンシブデザインをサポートするブラウザ上でどのように表示されるべきかを制御します。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- CSRF Token 後の章で説明します -->
    <%= csrf_meta_tags %>
    <!-- Railsの機能を使用してアプリケーションのセキュリティを向上させるための記述です -->
    <%= csp_meta_tag %>
    <!-- Style -->
    <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
    <!-- Javascript -->
    <script src="<%= mix('/js/bootstrap.js') %>"></script>
    <!-- turbo.jsを追加します -->
    <script src="<%= mix('/js/turbo.js') %>"></script>
    <!--modal-window追加-->
    <script src="<%= mix('/js/modal-window.js') %>"></script>
    <!--fontawesome追加-->
    <script src="https://kit.fontawesome.com/4ae71b5321.js" crossorigin="anonymous"></script>
    <!--<meta http-equiv="Pragma" content="no-cache">-->
    <!--<meta http-equiv="Cache-Control" content="no-cache">-->
    <!--<meta http-equiv="Expires" content="0">-->

  </head>

  <body>
  <!--<div class="main-container">-->
    <!--  ナビゲーションバー -->
    <nav class="custom-navbar">
      
    <P class=site-title>おむすびクラスルーム</p>
     
    <div></div>
     <% if user_signed_in? %>

        <ul class="icon-list">
          <li class="icon"><%= image_tag "kkrn_icon_user_1.png", size: "30x30" %></li>
          <li class="icon"><%= image_tag "kkrn_icon_user_1.png", size: "30x30" %></li>
          <li class="icon"><%= image_tag "kkrn_icon_user_1.png", size: "30x30" %></li>
          <li class="icon"><%= image_tag "kkrn_icon_user_1.png", size: "30x30" %></li>
          <li class="icon"><%= image_tag "sticker_louie_louie.png", size: "30x30" %></li>
          <li class="icon"><%= image_tag @user.image.url, width: "25×25" %></li>
        </ul>
        
     <% end %> 
      
    </nav>


  <div class="wrapper">
   <div class="side-bar">
  <br>
   <div class="sidebar-border"></div>
  <br>
     <ul>
        <% if user_signed_in? %>
            <!-- ログインしている場合に表示されます -->
            <!-- user_signed_in? は device が提供している認証済みかを判定するメソッドです -->
            <li>
              <%= link_to "チャンネル一覧", index_channel_path, class: "nav-link" %>
              
            </li>
            
            <li>
              <%= link_to "新規チャンネル作成", new_channel_path, class: "nav-link" %>
              
            </li>     
            <li>
              <%= link_to "マイページ", show_user_path, class: "nav-link" %>
              
            </li>
            <li>
              <%= link_to "マイページ編集", edit_user_registration_path, class: "nav-link" %>
              
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
     
          <% else %>
            <!-- ログインしていない場合に表示されます -->
            <!-- else 以降は前述のif文の否定になります -->
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
          <!-- ここまで-->
        </ul>
          
        <% if user_signed_in? %>
        
        <div class="sidebar-border"></div>
        
        <ul>
          <p class="channel">-----チャンネル-----</p>
          
            <li>  
               <% @channels.each do |channel| %>
               <a class="nav-link" href="<%= channel_path(channel)  %>">
               <p class="sidebar-title"><%= channel.title %></p>
               </a>
               <% end %>
            </li>
        <% end %>  
          
        </ul>  


        
        
      </div>
    <div class="bg-white text-dark">
          <!-- アラートメッセージ -->
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>
      <%= yield %>
    </div>
   </div>
  <!--</div>-->
  <!-- Javascript -->
  <script src="<%= mix('/js/app.js') %>"></script>
  </body>
</html>